/*** HEADER ***/
.header-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  place-content: center;
  padding: 1rem 10rem;
}

/*** NAVBAR ***/
.nav-container {
  display: flex;
  align-items: center;
  padding: 0 15rem 0 0;
}

.page-nav {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: gray;
}

/*** NAVBAR ***/
.utilities-container {
  display: flex;
  align-items: center;
  padding: 0 0 0 15rem;
}

.page-utilities {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.utilities-link {
  text-decoration: none;
  color: black;
}

.utilities-link:hover {
  color: gray;
}

/*** ALLPRODUCTS ***/
.allproducts-container {
  padding: 4rem 10rem 0 10rem;
}

.allproducts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.allproducts-one {
  position: relative;
}

.allproducts-box {
  margin: 10%;
  width: 100%;
  height: 50rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.allproducts-link {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 1rem 3rem;
  font-size: 1rem;
}

.allproducts-link:hover {
  color: white;
  background-color: black;
}

.allproducts-two {
}
